@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    transition: background 0.25s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body[data-theme="dark"] {
    background: black;
    color: white;
}

body[data-theme="light"] {
    background: #e5e7eb;
    color: black;
}

.post-date {
    color: #6b7280;
}

.prose {
    max-width: none;
}
